<div class="cajero">
  <div class="partemonitor">
    <div class ="monitor">
      <div class="botones">
        <div class="boton"></div>
      </div>
      <div class="pantalla">
        <app-interfazsencilla (enciendeLed)="enciendeLed($event)" (finalizar)="finalizar($event)" (actualizaMenu)="menu_actual = $event" [menu_actual]="menu_actual" *ngIf="interfaz == 'adaptada'"></app-interfazsencilla>
        <img class="interfaznormal" src="assets\images\interfaznormal.JPG" *ngIf="interfaz == 'normal'">
      </div>
      <div class="botones">
        <div class="boton"></div>
      </div>
    </div>
    <div class ="efectivo">
      <div class="letrero" id="efectivo" (click)="apagarLeds('efectivo');">
        <p><b>EFECTIVO</b></p>
      </div>
      <div class="retirarefectivo" (click)="apagarLeds('efectivo')" id="ranuraefectivo">
        <div class="retirarefectivo1"></div>
        <div class="retirarefectivo1" id="openefectivo"></div>
        <div class="retirarefectivo1"></div>
      </div>
    </div>
  </div>
  <div class="partetarjeta">
    <div class="ingresarecibo">
      <div class="letrero" id="recibo">
        <p>Libreta</p>
      </div>
      <div class="retirarrecibo"></div>
    </div>
    <div class="tarjeta">
      <div class="letrero" id="letrerotarjeta">
        <p>Tarjeta</p><img src="assets\images\icons8-nfc-n-50.png">
      </div>
      <div class="introducirtarjeta" (click)="introducirtarjeta()" id="ranuratarjeta">
        <div class="bloqueintroducirtarjeta" id="firstbloquetarjeta"></div>
        <div class="bloqueintroducirtarjeta"></div>
        <img src="assets\images\icons8-doble-abajo-50.png">
      </div>
    </div>
  </div>
</div>