<div class="cajero">
  <div class="partemonitor">
    <div class ="monitor">
      <div class="botones">
        <div class="boton"></div>
      </div>
      <div class="pantalla">
        <app-interfazsencilla></app-interfazsencilla>
      </div>
      <div class="botones">
        <div class="boton"></div>
      </div>
    </div>
    <div class ="efectivo">
      <div class="letrero" id="efectivo">
        <p>Efectivo</p>
      </div>
      <div class="retirarefectivo"></div>
    </div>
  </div>
  <div class="partetarjeta">
    <div class="ingresarecibo">
      <div class="letrero" id="recibo">
        <p>Recibo</p>
      </div>
      <div class="retirarrecibo"></div>
    </div>
    <div class="tarjeta">
      <div class="letrero" id="tarjeta">
        <p>Tarjeta</p>
      </div>
      <div class="introducirtarjeta">
        <div class="bloqueintroducirtarjeta" id="firstbloquetarjeta"></div>
        <div class="bloqueintroducirtarjeta"></div>
        <img src="assets\images\icons8-doble-abajo-50.png">
      </div>
    </div>
  </div>
</div>