<div class="cajero">
  <div class="partemonitor">
    <div class ="monitor">
      <div class="botones">
        <div class="boton">boton</div>
      </div>
      <div class="pantalla">pantalla</div>
      <div class="botones">
        <div class="boton">boton</div>
      </div>
    </div>
    <div class ="efectivo">
      <div class="letrero" id="efectivo">
        <p>Efectivo</p>
      </div>
      <div class="retirarefectivo"></div>
    </div>
  </div>
  <div class="partetarjeta">
    <div class="ingresarecibo">
      <div class="letrero" id="recibo">
        <p>Recibo</p>
      </div>
      <div class="retirarrecibo"></div>
    </div>
    <div class="tarjeta">
      <div class="letrero" id="tarjeta">
        <p>Tarjeta</p>
      </div>
      <div class="introducirtarjeta">
        <div class="bloqueintroducirtarjeta"></div>
        <div class="bloqueintroducirtarjeta"></div>
      </div>
    </div>
  </div>
</div>